{% extends '@layout/default.html.twig' %}

{% block title %} Groups{% endblock %}

{% block content %}
    {% include '@authorization/partials/menu.html.twig' %}
    <h1>Groups</h1>
    <p><a href="{{ path('authorization.group-create') }}" class="btn btn-success">Создать</a></p>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>

        {% for group in groups %}
            <tr>
                <td>{{ group.name|e }}</td>
                <td>{{ group.description|e }}</td>
                <td>

                        <a href="{{ path('authorization.group-update', {'id': group.id}) }}"
                           class="label label-primary">Обновить</a>

                        <form action="{{ path('authorization.group-delete', {'id': group.id}) }}"
                              method="POST">
                            <button type="submit" class="label label-danger">Удалить</button>
                        </form>


                </td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}


